{% extends "base.html.jinja" %}
{% block content %}
    <h1>Justyna Gargula</h1>
    <h2>Informatyka Stosowana ZZISS1-1211</h2>
    <p>Zawsze interesowały mnie ścisłe zagadnienia, dlatego wybrałam studia informatyczne. Chcę również poznać nowe zagadnienia, 
    stąd wybór Uniwersytetu Ekonomicznego.</p>
    <p>Prywatnie interesuje mnie muzyka i wszystko, co z nią związane. Chętnie słucham ulubionej playlisty przy pisaniu kodu. 
    W wolnych chwilach gram na gitarze lub pianinie. Oprócz tego lubię czytać książki i piec ciasteczka.</p>
    <img src={{ image_file}} alt="Vinyl" style="width:70%">
{% endblock %}