{% extends "base.html.jinja" %}
{% block content %}
    <ul class="list-group">
    {% for key, value in stats.items() %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{key}}
            <span class="badge bg-primary rounded-pill">{{value}}</span>
        </li>
    {% endfor %}
    </ul>
<!--
    <div class="mb-3">
        <input type="submit" class="btn btn-info mb-3" value="Wykresy">
    </div>
    -->
    <button type="button" class="btn btn-dark" onclick="RedirectFunction()">Wykresy <i class="bi bi-arrow-bar-right"></i></button>

    <script>
        function RedirectFunction() {
            window.location.assign("http://127.0.0.1:5000/charts/{{product_id}}");   
        }
    </script>

    <table class="table table-striped table-bordered">
        <thead class="table-primary">
            <tr>
                <th>author</th>
                <th>recommendation</th>
                <th>stars</th>
                <th>content</th>
                <th>useful</th>
                <th>useless</th>
                <th>publish_date</th>
                <th>purchase_date</th>
                <th>pros</th>
                <th>cons</th>
                <th>opinion_id</th>        
            </tr>
        </thead>
        <tbody>
            
            {% for key, value in opinions.iterrows() %}
            <tr>
                {% for element in value %}
                    {% if element==[] or element=='' or element==None %}
                        <td>-</td>
                    {% elif element is iterable and element is not string %}
                        <td><ul>
                        {% for list_item in element %}
                            <li>{{list_item}}</li>
                        {% endfor %}
                        </ul></td>
                    {% else %}
                        <td>{{element}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            
        </tbody>
    </table>


{% endblock %}