{% extends "base.html.jinja" %}
{% block contetnt %}
    {% block contetnt %}
        <ul class="list-group">
            {% for prkey, value in stats.iteritems() %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                {{key}}
                <span class="badge bg-primary rounded-pill">{{value}}</span>
                </li>
            {% endfor %}
        </ul>
            
        <div class="container">
            <div class="row">
                <div class="col">
                <img src="..." class="rounded mx-auto d-block" alt="...">
                </div>
                <div class="col">
                <img src="..." class="rounded mx-auto d-block" alt="...">
                </div>

        </div>
        </div>


{% endblock %}
